body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: rgb(165, 228, 165);
  padding: 1px 0px;
  margin-bottom: 3px;
}

.navbar-ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  padding: 3%;
}

.body-content {
  max-width: 90%;
  margin: auto;
}

.profile {
  color: blue;
}